.supplement-summary-list {
   width: 208px;
}

.supplement-summary {
   overflow: auto;
   margin-bottom: 12px;

   .supplement-name {
      float: left;
   }

   .supplement-price-component {
      float: right;
   }

   &:last-child {
      margin-bottom: 0;
   }
}

.supplement-remove-link {
   color: blue;
   cursor: pointer;

   &:hover {
      text-decoration: underline;
   }
}

.supplements {
   overflow: auto;
}

.supplement-list {
   float: left;
   overflow: auto;

   .supplement {
      float: left;
      overflow: auto;
      width: 100%;
   }

   .supplement-list-item {
      border-bottom: 1px solid lightGray;
      float: left;
      overflow: auto;

      &:last-child {
         border-bottom: none;
      }
   }

   .supplement-heading {
      width: 100%;
   }

   .supplement-image {
      width: 260px;
      float: left;
   }

   .supplement-info-row {
      float: left;
      width: 100%
   }

   .supplement-info-text {
      float: left;
      width: 418px;
      margin-top: 0;
      margin-left: 12px;
   }

   .supplement-toggle {
      margin: 50px;
      margin-right: 7px;
      margin-bottom: 29px;
   }
}

.summary-price {
   margin-top: 10px;
   border-top: 1px solid lightGray;
   padding-top: 4px;
}

.hidden {
   display: none;
}

.two-column {
   float: left;
   overflow: auto;
   width: 1050px;
   margin-left: 15px;
   background-color: rgb(237, 237, 234);

   .panel {
      float: left;
      padding: 10px;
      background-color: #fff;
   }

   .left-panel{
      width: 230;
      margin-right: 15px;
      padding-top: 25px;
   }

   .main-panel {
      max-width: 750px;
      width: 750px;

      .unstyled-list {
         list-style: none;
         padding-left: 0px;
      }
   }
}
