$clickable-text-color: #00f;
$ow-background-color: #ededea;
$panel-background: #fff;

.supplement-summary-list {
  width: 208px;
}

.supplement-summary {
  margin-bottom: 12px;
  overflow: auto;


  .supplement-name {
    float: left;
  }

  .supplement-price-component {
    float: right;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.supplement-remove-link {
  color: $clickable-text-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.supplements {
  overflow: auto;
}

.supplement-list {
  float: left;
  overflow: auto;

  .supplement {
    float: left;
    overflow: auto;
    width: 100%;
  }

  .supplement-list-item {
    border-bottom: 1px solid lightGray;
    float: left;
    overflow: auto;

    &:last-child {
      border-bottom: 0;
    }
  }

  .supplement-heading {
    width: 100%;
  }

  .supplement-image {
    float: left;
    width: 260px;
  }

  .supplement-info-row {
    float: left;
    width: 100%;
  }

  .supplement-info-text {
    float: left;
    margin-left: 12px;
    margin-top: 0;
    width: 418px;
  }

  .supplement-toggle {
    margin: 50px;
    margin-bottom: 29px;
    margin-right: 7px;
  }
}

.summary-price {
  border-top: 1px solid lightGray;
  margin-top: 10px;
  padding-top: 4px;
}

.hidden {
  display: none;
}

.two-column {
  background-color: $ow-background-color;
  float: left;
  margin-left: 15px;
  overflow: auto;
  width: 1050px;

  .panel {
    background-color: $panel-background;
    float: left;
    padding: 10px;
  }

  .left-panel {
    margin-right: 15px;
    padding-top: 25px;
    width: 230;
  }

  .main-panel {
    max-width: 750px;
    width: 750px;

    .unstyled-list {
      list-style: none;
      padding-left: 0;
    }
  }
}
